<!--Componente en el que se cargan las rutas-->
<app-header></app-header>
<div class="container">
  <router-outlet></router-outlet>
</div>
<mat-paginator
  [length]="totalAlumnos"
  [pageSize]="5"
  [showFirstLastButtons] = "true"
  [pageSizeOptions] = "[5,10,20]"
  [pageIndex] = "paginaActual"
  (page)="accionEventoPagina($event)"
  >
</mat-paginator>
<mat-select 
  placeholder="Alumnos por página" [(value)]="alumnosPagina" (selectionChange)="seleccionarAlumnosPorPagina($event)">
  <mat-option *ngFor="let option of opcionesPagina" [value]="option">
    {{ option }}
  </mat-option>
</mat-select>
<app-footer></app-footer>

<!--[(ngModel)]="valorSeleccionado"-->

<!--(pageFirst)="manejarEventoPagina('primera')"
  (pageLast)="manejarEventoPagina('anterior')"
  (pageNext)="manejarEventoPagina('siguiente')"
  (pagePrevious)="manejarEventoPagina('ultima')"-->